<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header(title=~{::title/text()})">
        <title>Something went wrong</title>
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="alert alert-danger" role="alert" th:text='${error}'/>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
