<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header(title=~{::title/text()})">
        <title>Trip Center</title>
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="alert"
                         th:classappend="${hasUnfinishTrip} ? alert-danger : alert-success"
                         th:switch="${hasUnfinishTrip}"> 
                        <span th:case="${true}">Please finish your current trip</span>
                        <span th:case="${false}">Please start your new trip</span>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
